<div class="text-center">
    <h1>Fleet Management System</h1> 
</div>

<div class="callout callout-info">
    <p class="text-center"> Today is <b> @DateTime.Now.ToLongDateString() </b> </p>
</div>


