
<h5>Welcome to Our Fleet Management</h5>
<!-- Carousel of images to welcome user to website -->
<div id="demo" class="carousel slide align-items:center" data-ride="carousel">
<ol class="carousel-indicators">


    <li data-target="#ImageCarouselCSS" data-slide-to="0" class="active"></li>


    <li data-target="#ImageCarouselCSS" data-slide-to="1"></li>


    <li data-target="#ImageCarouselCSS" data-slide-to="2"></li>


  </ol>

<div class="carousel-inner">
<div class="carousel-item active">
      <img src="https://tesla-cdn.thron.com/delivery/public/image/tesla/35861782-9705-4f73-84f0-86d615adb661/bvlatuR/std/4096x2560/Model-S-Main-Hero-Desktop-LHD" alt="Welcome To Our Company Fleet Management System " class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://carwow-uk-wp-3.imgix.net/Volvo-XC40-white-scaled.jpg" alt="You can access MOT Records " class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://stimg.cardekho.com/images/carexteriorimages/930x620/Lamborghini/Aventador/6721/Lamborghini-Aventador-SVJ/1621849426405/front-left-side-47.jpg?tr=w-270" alt="Manage all your vehicle requirements safely" class="d-block w-100">
    </div>
    </div>




</div>

